<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912787077555-ogtg2p7h1sbn9dmqagreqlc85bhj7mjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912787077555-ogtg2p7h1sbn9dmqagreqlc85bhj7mjh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>912787077555-9foph00l6fnpa9o2b78jbgvk6usbiits.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Ov8HB6rORi7i6tnnEa2NPMftEErXTPc</string>
	<key>GCM_SENDER_ID</key>
	<string>912787077555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evChargingStationFinder10</string>
	<key>PROJECT_ID</key>
	<string>ev-charging-station-ca2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>ev-charging-station-ca2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912787077555:ios:1aacb615f1a0e856caf3c6</string>
</dict>
</plist>